<% provide(:page_title, 'Todos los Post') %>
<% provide(:author, 'active') %>

<div class="row">
  <div>
    <%= link_to 'Post Nuevo', new_authors_post_path, class: 'btn btn-primary btn-lg'%>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="1">Titulo</th>
      </tr>
    </thead>
    <%= render @posts %>
  </table>
</div>
